<a href="https://colab.research.google.com/github/HarryMcHau5/ParkParkFarm/blob/main/Advanced_A4_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import warnings

In [2]:
pd.set_option('display.max_colwidth', 0)
pd.set_option('display.max_columns', None)
pd.options.display.max_seq_items = 2000
warnings.filterwarnings('ignore')

In [3]:
%%html
<style>
.dataframe td {
    white-space: nowrap;
}
</style>

In [4]:
#Import Shipped Order Lines
df_lines = pd.read_csv('/home/order_lines.csv', index_col = 0)
print("{:,} order lines to process".format(len(df_lines)))
df_lines.head()

5,208 order lines to process

,Date,Month-Year,Warehouse Code,Customer Code,Order Number,Order Line Number,Item Code,Units,Euros
112,00:00.0,Jan-21,3403434,5002915-15,20247100,1,963543-43,2,381.47
14485,00:00.0,Jan-21,3403434,5397843-43,20258239,1,8902753-53,250,187.03
14486,00:00.0,Jan-21,3403434,5397843-43,20258239,2,8308591-91,500,452.45
14487,00:00.0,Jan-21,3403434,5397843-43,20258239,3,8308621-21,500,452.45
14488,00:00.0,Jan-21,3403434,5397843-43,20258239,4,8022921-21,400,567.16

In [5]:
#Import Master Data: Unit of Measure Conversions to (kg)
df_uom = pd.read_csv('/home/uom_conversions.csv', index_col = 0)
print("{:,} Unit of Measure Conversions".format(len(df_uom)))

# Join
df_join = df_lines.copy()
COLS_JOIN = ['Item Code']
df_join = pd.merge(df_join, df_uom, on=COLS_JOIN, how='left', suffixes=('', '_y'))
df_join.drop(df_join.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
print("{:,} records".format(len(df_join)))
df_join.head()

557 Unit of Measure Conversions
5,208 records

,Date,Month-Year,Warehouse Code,Customer Code,Order Number,Order Line Number,Item Code,Units,Euros,Conversion Ratio
0,00:00.0,Jan-21,3403434,5002915-15,20247100,1,963543-43,2,381.47,56.58400
1,00:00.0,Jan-21,3403434,5397843-43,20258239,1,8902753-53,250,187.03,0.03200
2,00:00.0,Jan-21,3403434,5397843-43,20258239,2,8308591-91,500,452.45,0.02219
3,00:00.0,Jan-21,3403434,5397843-43,20258239,3,8308621-21,500,452.45,0.02219
4,00:00.0,Jan-21,3403434,5397843-43,20258239,4,8022921-21,400,567.16,0.03200

In [6]:
#Import Distances
df_dist = pd.read_csv('/home/distances.csv', index_col = 0)
# Location
df_dist['Location'] = df_dist['Customer Country'].astype(str) + ', ' + df_dist['Customer City'].astype(str)
df_dist.head()

,Warehouse Code,Warehouse Name,Warehouse Country,Warehouse City,Customer Code,Customer Country,Customer City,Road (km),Rail (km),Sea (km),Air (km),Location
19,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,765.728,0,0,0,"FRANCE, LES ANGLES"
610,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5397843-43,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE"
676,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5340669-69,GERMANY,PEINE - WOLTORF,856.000,0,0,0,"GERMANY, PEINE - WOLTORF"
682,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5340672-72,FRANCE,BELLEVILLE,52.694,0,0,0,"FRANCE, BELLEVILLE"
1375,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5029913-13,FRANCE,MOISSY-CRAMAYEL,288.437,0,0,0,"FRANCE, MOISSY-CRAMAYEL"

In [7]:
#Import Cities GPS Locations
df_gps = pd.read_csv('/home/gps_locations.csv', index_col = 0)
print("{:,} Locations".format(len(df_gps)))
df_gps.head()

19 Locations

                    Location      GPS 1      GPS 2
867   BULGARIA, DOLNI BOGROV  42.701462  23.490811
1087  FRANCE, AUBROMETZ       50.303749  2.176058
1153  FRANCE, BELLEVILLE      48.871184  2.386682
1371  FRANCE, CLICHY CEDEX    48.904099  2.304123
1534  FRANCE, GAEL            48.116682 -2.234640

In [8]:
##Data Processing
#Merge Distance with GPS Locations
df_dist = pd.merge(df_dist, df_gps, on='Location', how='left', suffixes=('', '_y'))
df_dist.drop(df_dist.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
df_dist

,Warehouse Code,Warehouse Name,Warehouse Country,Warehouse City,Customer Code,Customer Country,Customer City,Road (km),Rail (km),Sea (km),Air (km),Location,GPS 1,GPS 2
0,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,765.728,0,0,0,"FRANCE, LES ANGLES",42.579678,2.048950
1,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5397843-43,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
2,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5340669-69,GERMANY,PEINE - WOLTORF,856.000,0,0,0,"GERMANY, PEINE - WOLTORF",52.304594,10.312521
3,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5340672-72,FRANCE,BELLEVILLE,52.694,0,0,0,"FRANCE, BELLEVILLE",48.871184,2.386682
4,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5029913-13,FRANCE,MOISSY-CRAMAYEL,288.437,0,0,0,"FRANCE, MOISSY-CRAMAYEL",48.624666,2.595756
5,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003451-51,FRANCE,LEVALLOIS PERRET,295.165,0,0,0,"FRANCE, LEVALLOIS PERRET",48.894640,2.287419
6,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5293132-32,FRANCE,HERLIN LE SEC,353.590,0,0,0,"FRANCE, HERLIN LE SEC",50.354429,2.331766
7,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,478.723,0,0,0,"FRANCE, MACON",48.878552,2.280117
8,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003474-74,FRANCE,ORLY,287.110,0,0,0,"FRANCE, ORLY",48.740227,2.402965
9,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003476-76,FRANCE,VITRY SUR SEINE,284.851,0,0,0,"FRANCE, VITRY SUR SEINE",48.789263,2.395103
10,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,115-15,FRANCE,CLICHY CEDEX,293.858,0,0,0,"FRANCE, CLICHY CEDEX",48.904099,2.304123
11,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5006517-17,FRANCE,SERRIS,256.250,0,0,0,"FRANCE, SERRIS",48.845309,2.787302
12,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5335348-48,UNITED KINGDOM,BRISTOL,626.000,0,44,0,"UNITED KINGDOM, BRISTOL",51.468489,-2.590717
13,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,9001746-46,FRANCE,AUBROMETZ,357.151,0,0,0,"FRANCE, AUBROMETZ",50.303749,2.176058
14,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,9066250-50,FRANCE,GAEL,667.613,0,0,0,"FRANCE, GAEL",48.116682,-2.234640
15,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5334855-55,UNITED KINGDOM,KENT,409.000,0,44,0,"UNITED KINGDOM, KENT",51.196396,0.742644
16,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5494889-89,FRANCE,GRETZ ARMAINVILLIERS,268.336,0,0,0,"FRANCE, GRETZ ARMAINVILLIERS",48.753586,2.727228
17,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5262267-67,MAURITANIA,NOUAKCHOTT,300.000,0,3739,0,"MAURITANIA, NOUAKCHOTT",18.067171,-15.953561
18,3402002,WAREHOUSE PARIS AREA 2,FRANCE,MONTMIRAIL,5486697-97,BULGARIA,DOLNI BOGROV,2163.000,0,0,0,"BULGARIA, DOLNI BOGROV",42.701462,23.490811

In [9]:
#Final Join to build record
COLS_JOIN = ['Warehouse Code', 'Customer Code']
df_join = pd.merge(df_join, df_dist, on = COLS_JOIN, how='left', suffixes=('', '_y'))
df_join.drop(df_join.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
print("{:,} records".format(len(df_join)))
df_join

5,208 records

,Date,Month-Year,Warehouse Code,Customer Code,Order Number,Order Line Number,Item Code,Units,Euros,Conversion Ratio,Warehouse Name,Warehouse Country,Warehouse City,Customer Country,Customer City,Road (km),Rail (km),Sea (km),Air (km),Location,GPS 1,GPS 2
0,00:00.0,Jan-21,3403434,5002915-15,20247100,1,963543-43,2,381.47,56.58400,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,LES ANGLES,765.728,0,0,0,"FRANCE, LES ANGLES",42.579678,2.048950
1,00:00.0,Jan-21,3403434,5397843-43,20258239,1,8902753-53,250,187.03,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
2,00:00.0,Jan-21,3403434,5397843-43,20258239,2,8308591-91,500,452.45,0.02219,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
3,00:00.0,Jan-21,3403434,5397843-43,20258239,3,8308621-21,500,452.45,0.02219,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
4,00:00.0,Jan-21,3403434,5397843-43,20258239,4,8022921-21,400,567.16,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203,00:00.0,Oct-21,3403434,5397843-43,21089497,84,802065-65,80,72.96,0.02200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
5204,00:00.0,Oct-21,3403434,5397843-43,21089497,85,942082-82,200,391.88,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
5205,00:00.0,Oct-21,3403434,5397843-43,21089497,86,8022922-22,400,581.40,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369
5206,00:00.0,Oct-21,3403434,5340669-69,21004473,1,982884-84,2000,2980.00,0.14600,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,GERMANY,PEINE - WOLTORF,856.000,0,0,0,"GERMANY, PEINE - WOLTORF",52.304594,10.312521
5207,00:00.0,Oct-21,3403434,5340669-69,21004473,2,983347-47,2400,4848.00,0.16950,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,GERMANY,PEINE - WOLTORF,856.000,0,0,0,"GERMANY, PEINE - WOLTORF",52.304594,10.312521

In [18]:
# Calculate Weight (KG)
df_join['KG'] = df_join['Units'] * df_join['Conversion Ratio']
# Agg by order
GPBY_ORDER = ['Date', 'Month-Year', 
        'Warehouse Code', 'Warehouse Name', 'Warehouse Country', 'Warehouse City',
        'Customer Code', 'Customer Country', 'Customer City','Location', 'GPS 1', 'GPS 2', 
        'Road (km)', 'Rail (km)', 'Sea (km)', 'Air (km)',
        'Order Number']
df_agg = pd.DataFrame(df_join.groupby(GPBY_ORDER)[['Units', 'KG']].sum())
df_agg.reset_index(inplace = True)
# CO2 Emissions Calculation
dict_co2e = dict(zip(['Air (km)' ,'Sea (km)', 'Road (km)', 'Rail (km)'], [2.1, 0.01, 0.096, 0.028]))
MODES = ['Road (km)', 'Rail (km)','Sea (km)', 'Air (km)']
for mode in MODES:
    df_agg['CO2 ' + mode] = df_agg['KG'].astype(float)/1000 * df_agg[mode].astype(float) * dict_co2e[mode]
df_agg['CO2 Total'] = df_agg[['CO2 ' + mode for mode in MODES]].sum(axis = 1)
# Mapping the delivery Mode
df_agg['Delivery Mode'] = df_agg[MODES].astype(float).apply(
    lambda t: [mode if t[mode]>0 else '-' for mode in MODES], axis = 1)
dict_map = dict(zip(df_agg['Delivery Mode'].astype(str).unique(), 
  [i.replace(", '-'",'').replace("'-'",'').replace("'",'') for i in df_agg['Delivery Mode'].astype(str).unique()]))
df_agg['Delivery Mode'] = df_agg['Delivery Mode'].astype(str).map(dict_map)

In [21]:
# Calculation @ line level
df_line = df_join.copy()

dict_co2e = dict(zip(['Air (km)' ,'Sea (km)', 'Road (km)', 'Rail (km)'], [2.1, 0.01, 0.096, 0.028]))
MODES = ['Road (km)', 'Rail (km)','Sea (km)', 'Air (km)']
for mode in MODES:
    df_line['CO2 ' + mode] = df_line['KG'].astype(float)/1000 * df_line[mode].astype(float) * dict_co2e[mode]
df_line['CO2 Total'] = df_line[['CO2 ' + mode for mode in MODES]].sum(axis = 1)
df_line.to_csv('/home/detailed_report.csv')
df_line.head()

,Date,Month-Year,Warehouse Code,Customer Code,Order Number,Order Line Number,Item Code,Units,Euros,Conversion Ratio,Warehouse Name,Warehouse Country,Warehouse City,Customer Country,Customer City,Road (km),Rail (km),Sea (km),Air (km),Location,GPS 1,GPS 2,KG,CO2 Road (km),CO2 Rail (km),CO2 Sea (km),CO2 Air (km),CO2 Total
0,00:00.0,Jan-21,3403434,5002915-15,20247100,1,963543-43,2,381.47,56.58400,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,LES ANGLES,765.728,0,0,0,"FRANCE, LES ANGLES",42.579678,2.048950,113.168,8.318967,0.0,0.0,0.0,8.318967
1,00:00.0,Jan-21,3403434,5397843-43,20258239,1,8902753-53,250,187.03,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369,8.000,0.216183,0.0,0.0,0.0,0.216183
2,00:00.0,Jan-21,3403434,5397843-43,20258239,2,8308591-91,500,452.45,0.02219,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369,11.095,0.299818,0.0,0.0,0.0,0.299818
3,00:00.0,Jan-21,3403434,5397843-43,20258239,3,8308621-21,500,452.45,0.02219,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369,11.095,0.299818,0.0,0.0,0.0,0.299818
4,00:00.0,Jan-21,3403434,5397843-43,20258239,4,8022921-21,400,567.16,0.03200,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,FRANCE,SUCY EN BRIE,281.488,0,0,0,"FRANCE, SUCY EN BRIE",48.768810,2.537369,12.800,0.345892,0.0,0.0,0.0,0.345892

In [22]:
# Calculate Weight (KG)
df_join['KG'] = df_join['Units'] * df_join['Conversion Ratio']

# Agg by order
GPBY_ORDER = ['Date', 'Month-Year', 
        'Warehouse Code', 'Warehouse Name', 'Warehouse Country', 'Warehouse City',
        'Customer Code', 'Customer Country', 'Customer City','Location', 'GPS 1', 'GPS 2', 
        'Road (km)', 'Rail (km)', 'Sea (km)', 'Air (km)',
        'Order Number']
df_agg = pd.DataFrame(df_join.groupby(GPBY_ORDER)[['Units', 'KG']].sum())
df_agg.reset_index(inplace = True)
df_agg.head()

,Date,Month-Year,Warehouse Code,Warehouse Name,Warehouse Country,Warehouse City,Customer Code,Customer Country,Customer City,Location,GPS 1,GPS 2,Road (km),Rail (km),Sea (km),Air (km),Order Number,Units,KG
0,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21024808,1246,48.17033
1,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21026829,814,117.35280
2,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024558,685,20.63950
3,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024819,2,53.86725
4,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21028868,689,28.21349

In [23]:
# CO2 Emissions
dict_co2e = dict(zip(['Air (km)' ,'Sea (km)', 'Road (km)', 'Rail (km)'], [2.1, 0.01, 0.096, 0.028]))
MODES = ['Road (km)', 'Rail (km)','Sea (km)', 'Air (km)']
for mode in MODES:
    df_agg['CO2 ' + mode] = df_agg['KG'].astype(float)/1000 * df_agg[mode].astype(float) * dict_co2e[mode]
df_agg['CO2 Total'] = df_agg[['CO2 ' + mode for mode in MODES]].sum(axis = 1)
df_agg.head()

,Date,Month-Year,Warehouse Code,Warehouse Name,Warehouse Country,Warehouse City,Customer Code,Customer Country,Customer City,Location,GPS 1,GPS 2,Road (km),Rail (km),Sea (km),Air (km),Order Number,Units,KG,CO2 Road (km),CO2 Rail (km),CO2 Sea (km),CO2 Air (km),CO2 Total
0,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21024808,1246,48.17033,3.540996,0.0,0.0,0.0,3.540996
1,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21026829,814,117.35280,8.626591,0.0,0.0,0.0,8.626591
2,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024558,685,20.63950,0.948538,0.0,0.0,0.0,0.948538
3,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024819,2,53.86725,2.475599,0.0,0.0,0.0,2.475599
4,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21028868,689,28.21349,1.296619,0.0,0.0,0.0,1.296619

In [24]:
# Mapping the delivery Mode
df_agg['Delivery Mode'] = df_agg[MODES].astype(float).apply(
    lambda t: [mode if t[mode]>0 else '-' for mode in MODES], axis = 1)
dict_map = dict(zip(df_agg['Delivery Mode'].astype(str).unique(), 
  [i.replace(", '-'",'').replace("'-'",'').replace("'",'') for i in df_agg['Delivery Mode'].astype(str).unique()]))
df_agg['Delivery Mode'] = df_agg['Delivery Mode'].astype(str).map(dict_map)
df_agg

,Date,Month-Year,Warehouse Code,Warehouse Name,Warehouse Country,Warehouse City,Customer Code,Customer Country,Customer City,Location,GPS 1,GPS 2,Road (km),Rail (km),Sea (km),Air (km),Order Number,Units,KG,CO2 Road (km),CO2 Rail (km),CO2 Sea (km),CO2 Air (km),CO2 Total,Delivery Mode
0,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21024808,1246,48.17033,3.540996,0.0,0.0,0.0,3.540996,[Road (km)]
1,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5002915-15,FRANCE,LES ANGLES,"FRANCE, LES ANGLES",42.579678,2.048950,765.728,0,0,0,21026829,814,117.35280,8.626591,0.0,0.0,0.0,8.626591,[Road (km)]
2,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024558,685,20.63950,0.948538,0.0,0.0,0.0,0.948538,[Road (km)]
3,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21024819,2,53.86725,2.475599,0.0,0.0,0.0,2.475599,[Road (km)]
4,00:00.0,Apr-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5003269-69,FRANCE,MACON,"FRANCE, MACON",48.878552,2.280117,478.723,0,0,0,21028868,689,28.21349,1.296619,0.0,0.0,0.0,1.296619,[Road (km)]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,00:00.0,Sep-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5340672-72,FRANCE,BELLEVILLE,"FRANCE, BELLEVILLE",48.871184,2.386682,52.694,0,0,0,21003919,12416,405.68320,2.052199,0.0,0.0,0.0,2.052199,[Road (km)]
286,00:00.0,Sep-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5397843-43,FRANCE,SUCY EN BRIE,"FRANCE, SUCY EN BRIE",48.768810,2.537369,281.488,0,0,0,21080529,600,14.63800,0.395560,0.0,0.0,0.0,0.395560,[Road (km)]
287,00:00.0,Sep-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5397843-43,FRANCE,SUCY EN BRIE,"FRANCE, SUCY EN BRIE",48.768810,2.537369,281.488,0,0,0,21083761,2410,87.00760,2.351193,0.0,0.0,0.0,2.351193,[Road (km)]
288,00:00.0,Sep-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5494889-89,FRANCE,GRETZ ARMAINVILLIERS,"FRANCE, GRETZ ARMAINVILLIERS",48.753586,2.727228,268.336,0,0,0,21083303,27752,966.99830,24.910124,0.0,0.0,0.0,24.910124,[Road (km)]
289,00:00.0,Sep-21,3403434,WAREHOUSE PARIS AREA 1,FRANCE,CHALONS-EN-CHAMPAGNE,5494889-89,FRANCE,GRETZ ARMAINVILLIERS,"FRANCE, GRETZ ARMAINVILLIERS",48.753586,2.727228,268.336,0,0,0,21084026,13558,573.98970,14.786122,0.0,0.0,0.0,14.786122,[Road (km)]